* {
    margin: 0;
}

body {
    background-image: url(cruz-crucifixo-parede-em-madeira-26-5-cm.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 94.3vw;
    text-align: center;
    padding: 100px 10px;
    background: transparent;
    color: #000;
    margin-bottom: -70px;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    letter-spacing: 3px;
}

.title {
    color:orangered;
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0px;
    /* border: #000 solid 1px; */
    width: 90%;

}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.filter {
    filter: grayscale(100);
    /* filter: blur(20px); */
    opacity: 0.5;
    cursor: none;
}

.videos {
    margin: 20px 0px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}

.left {
    margin-right: 5px;
}
.right {
    margin-left: 5px;
}

.videos > .span {
    /* font-size: 20px; */
    color: white;
    margin-top: 8px;
    padding-left: 10px;
    background: orangered;
    padding: 10px 8px;
    border-radius: 2px;
}

/* .alignTxt {
  background:yellow;
  margin-top: 200px !important;
} */

footer { 
    width: 99vw;
    height: 20px;
    background: transparent;
}


@media screen and (max-width: 580px) {

    /* body {
        font-size: 13px;
    } */
    
    iframe {
        width: auto;
        height: 100%;
    }

    .videos {
        margin: 25px 0px;
    }

    .videos > .span {
        /* position: absolute;
        top: 350px; */
        font-size: 16px;
        margin-top: 8px;
        padding-left: 10px;
    }

    .videos > .span > .alignTxt {
        
    }

    /* footer { 
        width: 100vw;
        height: 20px;
        background: #000;
    } */
}

