* {
    margin: 0;
}

body {
    /* background-image: url(cruz-crucifixo-parede-em-madeira-26-5-cm.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 99.0vw;
    height: 100vh;
    text-align: center;
    background-image: url(headerQuaresma.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #000;
    /* margin-bottom: -70px; */
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    letter-spacing: 10px;
    font-size: 16px;
}

.title {
    color:darkmagenta;
    /* text-shadow: 1px 1px 1px rgb(0, 0, 0); */
}

h1,h2 {
    width: 100vw;
    background: rgba(255, 255, 255, 0.138);
    padding: 8px;
}

main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px 0px;
    border-left: #00000044 solid 1px;
    border-right: #00000045 solid 1px;
    width: 98%;
    background: #00000028;
    z-index: 1;
}

.filter {
    filter: grayscale(100);
    /* filter: blur(20px); */
    opacity: 0.5;
    cursor: none;
}

.videos {
    height: 100vh;
    margin: 20px 0px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
}

.videos > .span {
    /* font-size: 20px; */
    font-weight: bold;
    color: darkmagenta;
    margin-top: 8px;
   /*  padding-left: 10px; */
    background: transparent;
    /* text-shadow: 1px 1px 1px rgb(255, 255, 255); */
    padding: 10px 8px;
    border-radius: 2px;
    letter-spacing: 1px;
}

/* footer { 
    width: 99vw;
    height: 20px;
    background: transparent;
} */


@media screen and (max-width: 580px) {

    iframe {
        width: 100%;
        height: 200px;
    }

    .videos {
        margin: 25px 0px;
        flex-direction: row !important;
    }

    .videos > .span {
        font-size: 16px;
        margin-top: 8px;
        padding-left: 10px;
    }
}

